/* Main Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
}
/* Header Styles */

.container {
  max-width: 960px;
  margin: 0 auto;
}
.company {
  background-color: black;
  color: white;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}
.company img {
  height: 1.5rem;
  padding-right: 1rem;
}
.hero {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}
.cta {
  position: relative;
  background-color: black;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  color: white;
}
.cta h4 {
  font-size: 1rem;
  font-weight: bold;
}
.cta h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}
@media only screen and (max-width:470px) {
  .hero {
    height: 15rem;
  }
  .cta {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }
  .cta h4 {
    font-size: 0.77rem;
  }
  .cta h1 {
    font-size: 1rem;
  }
}

nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}
.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }
}
.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.product {
  width: 30%;
}
.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}
.product-image img {
  max-width: 8rem;
}
.description {
  display: block;
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-color: black;
}
.info {
  width: 35%
}
.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}
  @media only screen and (max-width: 1024px) {
    .product {
      width: 47%;
    }

    .product.glasses {
      display: none;
    }
  }

  @media only screen and (max-width: 470px) {
    .products,
    .business-info {
      flex-wrap: wrap;
    }

    .product {
      width: 90%;
      margin: auto;
    }

    .product.watch {
      display: none;
    }

    .info {
      width: 90%;
      margin: 0.5rem auto;
    }
  }

  /* Footer */

  footer {
    padding: 5rem 0;
    margin-top: 4rem;
    background-color: black;
    color: white;
  }
